@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';
@import '~/styles/tools/breakpoints';
@import '~/styles/objects/input-group';

.EditAlbumContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
}

.EditAlbumSubtitle {
  color: $black;

  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: $black;
    margin: $xs 0 $md 0;
  }
}

.EditAlbumDetailsForm {
  display: flex;
  flex-direction: column;
  row-gap: $sm;
  margin-bottom: $lg;
  max-width: 419px;
}

.EditAlbumDetailsFormButtons {
  @extend .InputGroup;
}
