@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';

@import '~/styles/objects/container';

.UserIndex {
  background: $white;
  min-height: 100vh;
}

.UserIndexContainer {
  @extend .Container;
}

.UserSearchBar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  gap: $sm;
  margin: $lg 0 $xl 0;
}

.UserPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $sm;
  margin-bottom: $xl;
}

.UserPhoto {
  position: relative;
}

.UserPhotoDeleteIcon {
  position: absolute;
  top: $xs;
  right: $xs;
  padding: 0.4rem;
  background: $primary-color;
  border-radius: 4px;
  border: none;
}

.NoPhotosFound {
  align-items: center;
  text-align: center;
  width: 100%;
  padding-bottom: 32rem;
}
