@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';
@import '~/styles/tools/breakpoints';
@import '~/styles/objects/container';

.UserIndex {
  background: $white;
  min-height: 100vh;
}

.UserIndexContainer {
  @extend .Container;
}

.UserSearchBar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  gap: $sm;
  margin: $lg 0 $md 0;

  @media (max-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.UserSearchInput {
  @media (max-width: $medium) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.UserTabMenu {
  display: flex;
}

.UserTabMenuButton {
  border: none;
  border-bottom: 3px solid $gray;
  background: none;
  padding: 0 $sm $xs $sm;

  &:hover {
    border-bottom: 3px solid cyan !important;
    color: cyan !important;
  }
}
