@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';

@import '~/styles/tools/breakpoints';

@import '~/styles/objects/container';

.UserIndex {
  background: $white;
  min-height: 100vh;
}

.UserIndexContainer {
  @extend .Container;
}

.UserSearchBar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  gap: $sm;
  margin: $lg 0 $md 0;

  @media (max-width: $small) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.UserSearchInput {
  @media (max-width: $medium) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.UserTabNavigation {
}

.UserTabMenu {
  display: flex;
}

.UserTabMenuButton {
  border: none;
  border-bottom: 3px solid $gray;
  background: none;
  padding: 0 $sm $xs $sm;

  &:hover {
    border-bottom: 3px solid cyan !important;
    color: cyan !important;
  }
}

.UserPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $sm;
  margin-top: $lg;
  margin-bottom: $xl;

  @media (max-width: $medium) {
    margin-bottom: $lg;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.LoadMoreButton {
  margin-top: -64px;
  margin-bottom: $xl;
  align-self: center;

  @media (max-width: $medium) {
    margin-bottom: $lg;
  }
}

.UserPhoto {
  position: relative;
}

.UserPhotoDeleteIcon {
  position: absolute;
  top: $xs;
  right: $xs;
  padding: 0.4rem;
  background: $primary-color;
  border-radius: 4px;
  border: none;
  z-index: 3;
}

.UserAlbumTitle {
  position: absolute;
  bottom: $xs;
  left: $xs;
  color: $white;
}

.NoPhotosFound {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: $lg;
  padding-bottom: 48rem;
}
