@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';

.SignUp {
  display: flex;
  justify-content: flex-end;
  background: no-repeat url('../../../public/assets/images/signup-bg.jpg');
  background-size: cover;
  min-height: 100vh;
}

.SignUpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $white;
  min-height: 100vh;
  max-width: 638px;
  width: 100%;
}

.SignUpTitle {
  margin-top: $lg;
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  line-height: 1.15rem;
  color: $black;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: $sm;
  max-width: 328px;
  width: 100%;
}

.SignUpAdvise {
  text-align: center;
  color: $black;
}
