@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';
@import '~/styles/settings/fonts';

.SelectBlock {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width: 100%;
}

.SelectField {
  padding: 1.2rem $sm;
}
