@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';

@import '~/styles/objects/container';

.Wrapper {
  background: $white;
}

.Container {
  @extend .Container;

  min-height: 100vh;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $xl;
  padding-bottom: $xl;
}

.PageTitleBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: $lg;
}

.Title {
  color: $black;
}

.Text {
  color: $black;
}
