@import '~/styles/settings/colors';
@import '~/styles/settings/gaps';

@import '~/styles/objects/container';

.Intro {
  background: no-repeat url('../../../public/assets/images/iphoto-bg.jpg');
  background-size: cover;
  min-height: 100vh;
}

.IntroContainer {
  @extend .Container;
}

.IntroContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 80vh;
}

.IntroTitle {
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 1.15em;
  letter-spacing: 5px;
  max-width: 748px;
  color: $white;
  margin-bottom: $md;
}

.IntroText {
  font-size: 2.4rem;
  color: $white;
  margin-bottom: $md;
}
